@import "./base/reset";
@import "./mixin/mixin";
@import "./common.scss";
@import "./about.scss";
@import "./contact.scss";

html {
    font-family: Montserrat;
}
.header {
    &__nav {
        width: 100%;
        position: fixed;
        z-index: 100;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        @include xl {
            padding-left: 58px;
            padding-right: 58px;
        }
    }
    &__drawer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 189px;
        @include xl {
            width: 260px;
        }
    }
    
    &__toggle {
        display: block;
        display: flex;
        align-items: center;
        position: fixed;
        width: 61px;
        height: 13px;
        z-index: 10;
        right: 30px;
        cursor: pointer;
        color: #fff;
        @include xl {
            right: 73px;
        }

        .bars {
            height: 13px;
            width: 61px;
        }
        .bar {
            display: block;
            position: absolute;
            width: 22px;
            border-bottom: 2px solid #fff;
            transition: .35s ease-in-out;
            
        }
        .bar_top {
            top: 0px;
        }
        .bar_mid {
            top: 5px;
        }
        .bar_bottom {
            top: 10px;
        }
        .barsMenu {
            display: block;
            margin-left: 7px;
            font-weight: bold;
            line-height: 94px;
        }
    }
    // ハンバーガー開閉
    &__toggle.active {
        .bar_top {
            top: 5px;
            transform: rotate(-45deg);
        }
        .bar_mid,
        .bar_bottom {
            top: 5px;
            transform: rotate(45deg);
        }
    }
    // ハンバーガーメニュー
    &__menu {
        background-color: rgba(000, 000, 000, 0.8);
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: .5s ease;
        transform: translateX(100%);
    }
    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__list-logo {
        width: 42px;
        height: 45px;
        margin: 0 auto 40px;
    }
    &__list-item {
        margin-bottom: 30px;
        a {
            color: #fff;
            font-size: 2rem;
        }
    }
    &__menu.open {
        transform: translateX(0%);
    }
    &__nav.headerColor {
        background-color: #525252;
    }

}

.fv {
    height: 100vh;
    position: relative;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #222;
        width: 70%;
        height: 100%;
        z-index: -1;
        @include md {
            width: 80%;
        }
        @include xl {
            width: 50%;
        }
    }
    
    &__wrapper {
        height: 86%;
        width: 76%;
        background-image: url(../img/kv-img.jpg);
        background-size: cover;
        background-position: center 0;
        position: relative;
        &::after {
            content: "";
            background-color: rgba(0, 0, 0, .1);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom:0;
        }
    }
    &__inner {
        position: absolute;
        top: 50%;
        right: -15%;
        transform: translate(0, -50%);
        color: #fff;
        z-index: 1;
        
    }
    &__description {
        font-size: 1.6rem;
        font-family: 游ゴシック体;
        font-weight: bold;
        @include xl {
            font-size: 2rem;
        }
    }
    &__tagline {
        font-size: 1.6rem;
        font-family: Montserrat Medium;
        @include xl {
            font-size: 2rem;
        }
    }
    &__title {
        font-size: 5.6rem;
        line-height: 53px;
        @include xl {
            font-size: 7.2rem;
            line-height: 86px;
        }
    }
}

.aboutUS {
    .container {
        margin-top: 78px;
        margin-bottom: 40px;
        padding-right: 0;
        padding-left: 0;
        @include xl {
            max-width: 1100px;
            margin: 120px auto 80px;
        }
        
    }
    &__bg {
        background-image: url(../img/about-img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 80%;
        padding: 50px 15px; 
        @include md {
            padding-right: 89px;
            padding-left: 89px;
        }
    }
    &__content {
        background-color: #fff;
        padding-left: 30px;
        padding-right: 15px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__description {
        font-size: 1.4rem;
        font-family: 游ゴシック体;
        line-height: 28px;
        @include md {
            font-size: 1.6rem;
            line-height: 32px;
        }
    }
    &__btn {
        @include more-btn;
    }
}

.works-culture {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
    &__bg {
        position: relative;
        @include md {
            padding-left: 30px;
            padding-right: 218px;
        }
        @include xl {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 60px;
        }
        &::after {
            background-color: #f0f0f0;
            content: "";
            display: block;
            position: absolute;
            top: -180px;
            right: 0;
            left: 0;
            bottom:0;
            width: 100%;
            z-index: -1;
        }
    }
    &__contents {
        @include xl {
            display: flex;
            justify-content: space-between;
            max-width: 1100px;
            margin: 0 auto;
        }
    }
    .works {
        padding-bottom: 40px;
        @include xl {
            width: calc(50% - 30px);
        }
        &__img {
            margin-bottom: 30px;
        }
        &__description {
            font-size: 1.6rem;
            font-family: 游ゴシック体;
        }
        &__btn {
            @include more-btn;
        }
    }
    .culture {
        padding-bottom: 40px;
        margin-bottom: 40px;
        @include xl {
            width: calc(50% - 30px);
        }
        &__img {
            margin-bottom: 30px;
        }
        &__description {
            font-size: 1.6rem;
            font-family: 游ゴシック体;
        }
        &__btn {
            @include more-btn;
        }
    }
}

.topics {
    .container {
        @include xl {
            display: flex;
            justify-content: space-between;
            max-width: 1100px;
            margin: 0 auto;
            padding-right: 0;padding-left: 0;
        }
    }
    .sectionTitle {
        @include xl {
            padding-right: 113px;
            white-space: nowrap;
        }
    }
    &__inner {
        @include xl {
            width: 100%;
        }
        dt {
            color: #cecece;
            font-family: Montserrat Medium;
        }
        dt:not(:first-child) {
            margin-top: 22px;
        }
        dd {
            font-size: 1.2rem;
            font-family: 游ゴシック体;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-top: 11px;
            @include xl {
                font-size: 1.4rem;
            }
        }
    }
    &__btn {
        @include more-btn;
        margin-bottom: 40px;
        @include xl {
            margin-left: auto;
        }
    }
}

.contact {
    &__bg {
        background-color: #f2f2f2;
    }
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
        @include md {
            padding-left: 30px;
            padding-right: 218px;
        }
        @include xl {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            max-width: 1100px;
            margin: 0 auto;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__inner {
        @include xl {
            width: calc(50% - 80px);
        }
    }
    &__img {
        margin-bottom: 30px;
        @include xl {
            width: 50%;
        }
    }
    &__description {
        font-size: 1.6rem;
        font-family: 游ゴシック体;
    }
    &__btn {
        @include more-btn;
        margin-top: 30px;

    }
    
}

.footer {
    p {
        background-color: #525252;
        color: #fff;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-family: Montserrat Medium;

    }
}


